html, body, #main { height: 100%; }

body {
  margin: 0;
  background: black;
}

#main {
  background: url('assets/images/rocks.jpg');
  background-size: contain;
}

#start-screen {
  display: none;
  color: white;
  font-family: arial-black, arial, sans-serif;
  text-align: center;
  padding-top: 70px;
  font-size: 24px;
}

#title {
  margin-bottom: 40px;
}

#loading {
  font-size: 50px;
  color: white;
  height: 50px;
  text-align: center;
}

#players {
  display: flex;
  justify-content: space-between;
  width: 550px;
  margin: auto;
}

#players div {
  background: rgba(255, 255, 255, 0.3);
  padding: 30px 40px;
}

#players h3 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 140%;
}

#players a {
  color: white;
  margin-bottom: 10px;
  display: block;
}

#game {
  display: none;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
}

